@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif ;
}

/* HEADER */
/* media qurey*/
@media (min-width:1024px){
    .header-container{
        width: 100%;
        display: block;
    }
     .main-container {
        width: 100%;
        display: block;
    }
        .header-location {
            width: 100%;
        display: block;  
        }  
    }
    @media (min-width:769px) and (max-width:1023px) {
        .header-container{
            width: 100%;
            display: block;
        }
         .main-container {
            width: 100%;
            display: block;
        }
            .header-location {
                width: 100%;
            display: block;  
            }  
        }
@media (max-width:768px){
    .header-container{
        width: 100%;
        display: block;
    }
     .main-container {
        width: 100%;
        display: block;
    }
        .header-location {
            width: 100%;
        display: block;  
        }  
    }
    @media (max-width:468px){
        .header-container{
            width: 100%;
            display: block;
        }
         .main-container {
            width: 100%;
            display: block;
        }
            .header-location {
                width: 100%;
            display: block;  
            }  
        }

/* HEADER */
header{
    width: 100%;
    height: 86px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color:white ;
    display: flex;
    align-items: center;
}
.header-container{
    width: 100%;
    display: flex;
    align-items: center;
}
.header-left{
    margin: 32px;
    margin-right: 100px;
}
.header-location{
    margin-right: 40px;
}
.header-location-title{
    color: black; 
 font-weight: 800; 
 margin-bottom: 6px;
 font-size:18px ;
}
.header-location-area{
    font-size: 13px;
    color: black;
    font-weight:400 ;
}
.header-serch{
    width: 832px;
    height: 46px;
    cursor: text;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 0px 12px;
  background-color:rgb(248,248, 248);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right:70px ;
}
.header-serch svg{
    width:20px ;
    font-weight: 600;
   
}
.header-serch input{
    background-color: transparent;
    border: none;
    outline: none;
}
.header-login{
    font-size: 18px;
    font-weight: 400px;
    color: rgb(54,54, 54);
    margin-right: 70px;
}
.header-right{
    width: 112px;
    height: 52px;
     background-color: rgb(12, 131, 31);
color: white;
font-size: 14px;
font-weight: 600;
border-radius: 8px;
display: flex;
align-items: center;
justify-content: center;
}
.header-right svg{
    width: 24px;
    margin-right: 8px;
}
/* main */
main{
    display: flex;
    justify-content: center;
    
}
.main-container{
    max-width:  1280px; ;
}
.section-1,.section-1 img{
    width: 100%;
}
.section-2{
    margin: 0 16px;
    display: flex;
    overflow: auto scroll ;
    gap: 20px;
     border-radius: 12px;
} 
/*::-webkit-scrollbar{ 
    display: none;
}   */
.section-2-img{
    height: 195px;
    width: 335.4px;
    cursor: pointer;
    display: flex;
}
.section-3{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;

}
.section-3-img {
width: 128px;

}
.section-3-img img {
    width: 100%;
}
.section-4{
    margin: 16px;

}
.section-header{
font-size: 24px;
font-weight: 800;
}
.section-list {
    margin-top: 16px;
    width: 100%;
    display: flex;
    overflow: auto scroll;
    gap: 20px;
}
.product-card {
    padding: 12px;
    width: 154px;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 8px;
}
.product-card img {
    width: 100px;
}
.product-card-title {
    font-size: 14px;
    margin-bottom: 2px;
}
.product-card-desc {
    font-size: 12px ;
    color: #757575;
}
.product-action {
    display: flex;
     justify-content:space-between ; 
     align-items: center;
}
.product-action button {
    margin: 10px;

width: 70px;
height: 36px;
background-color: rgb(109, 232, 109);
border: 0.5px solid green;
border-radius: 8px;
display: flex;
align-items: center;
justify-content: center;
}
.product-qty {
    font-size: 14px;
}

/* using footer */
footer{
    margin-top: 32px;
    padding: 20px;
    text-align: center;
}



